# Будут проигнорированы  файлы, находящиеся в подкаталоге
 /tmp/
  # Будут проигнорированы  файлы, заканчивающиеся суффиксами
   _old
   _backup
   # Будут проигнорированы  файлы
Thumbs.db
 .DS_Store
 # Будет проигнорирован  архив
 neuro-startup.zip